* {
  font-family: 'Wizard World', sans-serif;
  color: white;
  letter-spacing: 2px;
}

body {
  display: flex;
  margin: 0px;
  height: 100vh;
}

main {
  background-image: url('images/main-background.png');
  background-position: center;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

aside {
  background-image: url('images/banner.png');
  background-size: cover;
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.human-title, 
.human-wins,
.human-score,
.computer-title, 
.computer-wins,
.computer-score,
button  {
  color: maroon;
}

main > header > p{
  margin: 0px;
  font-size: 30px;
}

main > header > h1 > span{
  font-size: 25px;
}

.game-header,
.human-header,
.computer-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-header {
  height: 25%;
}

.game-header > h1 { 
  margin: 5px;
  font-size: 80px;
  color: gold;
}

section { 
  height: 75%;
  width: 100%;
}

.game-type-container {
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}

.game-box{
  background-color: blueviolet;
  border: 2px solid gold;
  width: 20vw;
  text-align: center;
  padding: 1%;
}

li {
  color: gold;
  list-style: none;
  margin-left: -40px;
}

aside > header > img{
  padding-top: 20%;
  width: 50%;
}

.spell-icons{
  padding: 2%;
  width: 25%;
  height: auto;
}

.choose-fighter,
.result-display-screen {
  height: inherit;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.hidden{
  display: none;
}
